html{
    width: 100%;
}
body{
  width: 100%;
    margin-top: 6rem;

}

.wrapper{
    font-family: Century Gothic, sans-serif;
    text-align: center;
    background-color: white;
    border: 2px solid white;
    width: 60%;
    margin: auto;
    padding: 1rem;

}


.hide{
    display: none;
}

div.wrapper_one h2{
    color:red;

}

.log-btn {
  background:#ff3333;
  display: inline-block;
  width: 50%;
  font-size: 16px;
  height: 50px;
  color: #fff;
  text-decoration: none;
  border: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
    margin: auto;

}

.wrapper_signup{
    margin:auto;
}

@media screen and (max-width:960px) {
    .wrapper {
        width: 90%;
    }
}