main{
    width: 100%;
    background-image: url("/../images/background.png") ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top:6%;
    padding: 3rem;


}


.wrapper{
    font-family: Century Gothic, sans-serif;
    width: 65%;
    margin: auto;
    background-color: #212121;
    padding: 1rem;
}
input[type=text],
input[type=password] , textarea {
    box-sizing : border-box;
}
.wrapper_head>h2{
    text-align: center;
}
.wrapper_head{
border-bottom: 1px solid #212121;
}
.wrapper_form{
    padding: 2rem;
}
