main{
    width: 100%;
    background-image: url("/../images/background.png");
    background-repeat: no-repeat;


}
.img_contain{
    margin-top: 6%;
    width: 100%;

}
body{

}
.wrapper{
    font-family: Century Gothic, sans-serif;
    width: 60%;
    margin: auto;
    background-color: white;
    border: 2px solid white;
    padding: 1rem;
}
input[type=text],
input[type=password] , textarea {
    box-sizing : border-box;
}
.wrapper_head>h2{
    text-align: center;
}
