.out-wrapper {
  width: 100%;
  overflow: hidden;
}

.out {
  width: 960px;
  display: block;
  font-size: 0;
  margin: 0 auto;
  color: white; 
  position: relative;

}
.share{
  border: 2px solid white;
  border-radius: 1rem;
}
.share_align{
  margin-left:2rem;
}
.feed{
  margin-top: 1rem;
    border-radius: 1rem;
      border: 2px solid white;


}

.one {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 15rem;
  background: #666;
  font-size: 1rem;
    margin-top: 6rem;

}

.one-content {
  background: gray;
  height: 400px;
  position: fixed;
  top: 0;
  width: 15rem;
    margin-top: 6rem;

}

.two {
  display: inline-block;
  vertical-align: top;
  background: #333;
  width: calc(960px - 30rem);
  font-size: 1rem;
  height: 1000px;
    margin-top: 6rem;

}

.three {
  display: inline-block;
  vertical-align: top;
  width: 15rem;
  background: #666;
  font-size: 1rem;
  height: 300px;
    margin-top: 6rem;

}

.three-content {
  background: gray;
  height: 400px;
  position: fixed;
  top: 0;
  width: 15rem;
    margin-top: 6rem;

}
