html{
    width: 100%;
}
body{
    width: 100%;
}
.out-wrapper {
    width: 80%;
    margin:auto;
}
.one {
    margin-top: 6rem;
    float: left;
    width: 25rem;
    background: whitesmoke;
    height: 92vh;
    position: fixed;
    box-shadow: 1rem 1rem  1rem black;


}
.two {
    margin-top: 6rem;
    float: left;
    vertical-align: top;
    width: 80%;
    font-size: 1rem;
    margin-left: 30rem;
}

.media{
    margin-top: 1rem;
    background-color: whitesmoke;
    padding: 10px  10px 10px  10px;
    border-radius: 2px;

}




/*share box*/

.share {
    box-shadow: 1rem 1rem  1rem black;
    background-color: whitesmoke;
    border-radius: 2px;
}

.share_align {
    padding: 2rem;
    margin-left: 2rem;
}




.container{
    padding: 2rem;
}




.feed {
    margin-top: 1rem;
}


.col{
    background-color:black;
    border:none;
    border-radius:0;
    margin-top: 2rem;


}
.input-group{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.tab-pane, .fade{
    width: 700px;
    padding: 1rem;
    background-color: #4CAF50;
}


::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #ff3333;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #ff3333;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #ff3333;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #ff3333;
}
.modal-header,.modal-body,.modal-footer{
    background-color:#212121;
}
.modal-title{
    color:#ff3333;
}
#button_col{
    background-color:#ff3333;
    border:none;
    margin-top: 1rem;
    float: right;

}
#msg{
    padding: 1rem;
}

@media screen and (max-width:700px) {
    .cancelbtn, .signupbtn {
        width: 50%;

    }
}

/*RATING CSS*/
