html{
    width: 100%;
}
body{
    width: 100%;
    overflow-x: hidden;
}
.out-wrapper {
    width: 80%;
    margin:auto;
}
.one {
    margin-top: 6rem;
    float: left;
    width: 25rem;
    background: whitesmoke;
    height: 92vh;
    position: fixed;
    box-shadow: 1rem 1rem  1rem black;
}
.two {
    margin-top: 6rem;
    float: left;
    vertical-align: top;
    width: 70%;
    margin-left: 30rem;
}


.propic{
    height: 15rem;
    width: 15rem;
    border: 2px solid white;
    margin: auto;
    margin-top: 1rem;
    border-radius: 50%;


}
#pic{
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;

}

.user_display{
    text-align: center;
}
.profile_data button{
    width: 100%;
}
.data_box_edit{
    text-align: center;
}
.collapse2{
    margin-top: 2rem;
}
#collapse2{
    text-align: center;
    font-size: large;
    color: #ff3333;
}

#collapse3  a:hover{
    text-decoration: none;
    font-size: large;
}



.media{
    margin-top: 1rem;
    background-color: whitesmoke;
    padding: 10px  10px 10px  10px;
    border-radius: 2px;
    min-width: 300px;

}




/*share box*/



.tab-content{
    margin: 1rem;
}
.container li a{
    background-color: #ff3333;
    color: white;
}
.container li a:hover{
    background-color: white;
    color: red;
}

.share_align {
    padding: 2rem;
    box-shadow: 1rem 1rem  1rem black;
    background-color: whitesmoke;
    border-radius: 2px;

}






.feed {
    margin-top: 1rem;
}


.col{
    background-color:black;
    border:none;
    border-radius:0;
    margin-top: 2rem;


}
.input-group{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.container{
    width: 100%;
}
textarea{
    resize: none;
}


::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #ff3333;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #ff3333;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #ff3333;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #ff3333;
}
.modal-header,.modal-body,.modal-footer{
    background-color:#212121;
}
.modal-title{
    color:#ff3333;
}
#button_col{
    background-color:#ff3333;
    border:none;
    margin-top: 1rem;
    float: right;

}


@media screen and (max-width:960px) {
    .one {
        display: none;

    }
    .two{

        margin: auto;
    }

    .out-wrapper {
        width: 100%;
        margin: 0;
    }
    .media{
        width: 100%;
    }
}

#rated_alert,#not_rated_alert{
    display: none;
}