html{
	position: relative;
	min-height: 100%;
}

body{
	
	width: 100%;

}
main{
	width: 100%;
	margin-top: 10%;
}
.wrapper{
width: 50%;

margin: auto;
padding: 2rem;
background-color: white;
-moz-border-radius: 1rem;
  -webkit-border-radius: 1rem;
  border-radius: 1rem;
      box-shadow: 1rem 1rem  1rem black;

}
.buttonholder{
text-align: center;
}
#loginbtn{
	background:#ff3333;
  width: 50%;
  font-size: 16px;
  height: 50px;
  color: #fff;
  border: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;

}
.welcometext{
	text-align: center;
	color: #ff3333;
}
footer{
	width:100%;
position: absolute;
bottom: 0;
left: 0;
right: 0;

}
.acc{
    color: red;
    font-weight: bold;
}
