html{
	position: relative;
	min-height: 100%;
}

body{
	
	width: 100%;

}
main{
	width: 100%;
	margin-top: 7%;
}
.wrapper{
width: 50%;
margin: auto;
padding: 2rem;
background-color: #212121;
    box-shadow: 1rem 1rem  1rem black;
    min-width: 300px;
}
.buttonholder{
text-align: center;
}
#loginbtn{
	background:#ff3333;
  width: 50%;
  font-size: 16px;
  height: 50px;
  color: #fff;
  border: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;

}
.welcometext{
	text-align: center;
	color: white;
    font-family: Century Gothic, sans-serif;

}

.ack p {
    color: red;
    font-weight: bold;
}
.quote{
    font-family: Century Gothic, sans-serif;
    text-align: center;
    color: white;
    padding: 2rem;
}

.label_font{
    color: #ff3333;
    font-family: Century Gothic, sans-serif;

}
.rad>input{
    background-color: #ff3333;
    border-radius: 1rem;
}

