body {
    background-image: url("../images/Elegant_Background-12.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
  margin: 0;
  padding: 0;
}

.container-fluid a{
    color: #ff3333 !important;
    font-size: large;
}

.navbar-custom {
    background-color: #212121;
}
